:root{
    --dark-purple:#513252;
    --light-purple:#7A4069;
    --pink:#CA4E79;
    --sandal:#FFC18E;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}

header{
    text-align: center;
    padding: 1rem;
    font-weight: bold;
}

body{
    background-image: linear-gradient(var(--sandal),var(--pink));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    margin: auto;
    width: 300px;
    height: 415px;
    padding: 10px;
    background-color: var(--dark-purple);
    border-radius: 15px;
    box-shadow: 5px 5px 5px var(--light-purple);
    color: white;
}

#result{
    text-align: right;
    height: 65px;
    padding: 10px 5px 10px 10px;
    line-height: 40px;
    font-size: 33px;
}

.keys{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 5px;
}

.keys > button{
    line-height: 60px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.keys > button:hover{
    background-color: var(--pink);
    color: white;
}

.span-2{
    grid-column: span 2;
}